build/
dist/
dust/
results/
dev/
.codex
*.ipynb_checkpoints/
*.egg-info/
__pycache__
.cache/
.ruff_cache/
example/cpu/cpu-icrs-benchmark/
benchmark/
benchmark_cpu
benchmark_gpu/
.pytest_cache/
docs/.doctrees/
docs/.buildinfo.bak
docs_src/_build/
.DS_Store
src/microjax/_legacy/
tests/integrate
.vscode/
.venv/
_manuscripts
_archive/
tmp/
